@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
}

.margin-top-course{
  margin-top: 5%;
}

.padding-image-homepage{
  padding: 10%;
}

.dark-background{
  background-color: rgb(15 23 42);
}